<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>WttMRaIAQ3eSvnbmpkJoiQ</string>
	<key>developmentAppSecret</key>
	<string>IXJvnDN6R6a42Vjt4eqpUA</string>
	<key>productionAppKey</key>
	<string>8qtNk2SjTVaD8D8VM9-I6g</string>
	<key>productionAppSecret</key>
	<string>2-hSWXB1QOmmGBP-ILpa6Q</string>
</dict>
</plist>
